:root {
  --gradient: linear-gradient(to right, #e237c6 0%, #a044ff 59%, #8641b8 100%);
  /* --background: #909E84;
    --btn-color: #E3D477;
    --headings-color:#E8B38C;
    --dark:#75654C;
    --light:#BB8644; */

  --background: #eee2dc;
  --btn-color: #edc7b7;
  --btn-text-color: #ac3b61;
  --headings-color: #d3678b;
  --sub-heading: #123c69;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("../public/bg4.jpg") no-repeat center center/cover;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #ced4da;
}

h1 {
  backdrop-filter: blur(2px);
  margin: 50px 0 0 0;
  font-size: 1.2em;
  color: var(--headings-color);
}

.pages {
  text-align: center;
  color: #ced4da;
  font-size: 3.5rem;
  margin-top: 10%;
}

.btns-container {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn {
  background-color: var(--btn-color);
}

.btn {
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--btn-text-color);
  border-radius: 10px;
  border: none;
  display: block;
  box-shadow: 0px 0px 5px 0px rgba(172,59,97,0.5);
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  background-color: var(--btn-text-color);
  color: var(--btn-color);
  text-decoration: none;
  cursor: pointer;
}

.App {
}

@media (max-width: 500px) {
  h1 {
    margin: 200px 0 0 0;
    align-items: center;
  }
  .btn {
    font-weight: bold;
  }
}

@media (max-width: 414px) {
  .btns-container {
    margin-top: 1.7rem;
  }
}
