:root {
    --gradient: linear-gradient(to right, #e237c6 0%, #a044ff 59%, #8641b8 100%);
    --background: #eee2dc;
    --btn-color: #edc7b7;
    --btn-text-color: #ac3b61;
    --headings-color: #d3678b;
    --sub-heading: #123c69;
}

.answers-container{
    width:70%;
    display: flex;
    gap:1.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.ans{
    border: 4px solid black;
    color:var(--sub-heading);
    padding: 1rem;
    width:13rem;
    height:7rem;
    overflow: hidden;
}
.upper-two,.lower-two{
    display: flex;
    gap:1.5rem;
    justify-content:space-around;
}


@media (max-width: 500px) {
.ans{
    width:7rem;
    height:6rem;
    margin: auto;
    /* text-align:center; */
    align-items: center;
    /* vertical-align:  center; */
    /* overflow:hidden; */
    justify-content:center;
    font-size: 14px;
    padding:2%;
    border: 2px solid black;
}

}