:root {
  --gradient: linear-gradient(to right, #e237c6 0%, #a044ff 59%, #6a3093 100%);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.navbar {
  background-color: #343a40;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  font-family: "Roboto", sans-serif;
  max-width: 1500px;
}

.nav-container {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* margin:auto; */
  /* : 200px; */
}

.nav-logo {
  color: #ced4da;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  line-height: 40px;
  padding: 0.1rem 1rem;

  border: 2px solid red;
}

.fa-music {
  margin-left: 1rem;
  /* padding:2%; */
  /* font-size: 1.5rem; */
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  /* margin-right: 1.2rem; */
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  border: 2px solid red;
}

.nav-item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
  background: var(--gradient);
}

.nav-item .active {
  /* color: #f4d58d; */
  /* border: 3px solid linear-gradient(to right, #ea5efd 0%, #56B4D3  51%, #348F50  100%) */
  /* ;; */
  border: 3px solid var(--gradient);
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 630px) {
    .navbar{
        font-size:18px;
    }
    .nav-container{
        flex-direction:column;
justify-content: space-evenly;
    }
}
